h2 The Event
p
  | Since December 2942, Flightnight has been the premiere event for pilots to
  | test their skills and meet their peers in the risk-free environment of the Arena
  | Commander simulation program. Led by a team of volunteers, under the
  | organizational support of The Brown Coats and Starwind, we welcome veterans and
  | nuggets alike. A variety of weekly events keep those of every time reference
  | involved, and we are always looking for new volunteers to expand the event to
  | include more times and people.
h2 The Sponsors
h3
  a(href='https://robertsspaceindustries.com/orgs/BROWNCOATS') The Brown Coats
p
  .float-img(style='padding-right: 10px')
    img(src='/assets/media/Browncoats_small.png')
p
  | Founded in November 2942, the Brown Coats are a collective of independent
  | captains from across all systems and nearly all professional pursuits. The
  | Brown Coats believe in good work and good karma. Find a job, do it right, and do
  | it without risking innocent lives. The simple motto attracts a varied crowd of
  | interesting, skilled people for every line of work. If you need a business
  | partner, or just a drinking buddy, you&apos;ll find the one you&apos;re looking for in the
  | Brown Coats.
h3
  a(href='https://robertsspaceindustries.com/orgs/STARWIND') Starwind
p
  .float-img(style='padding-right: 10px')
    img(src='/assets/media/Starwind_small.png')
  | Starwind Unltd. is a league of armed merchantmen with an emphasis on
  | combat-readiness in defence of personal assets, walking the thin line between
  | combat and mercantilism. Whether exploring new horizons, acquiring unclaimed
  | resources, or transporting luxury and commodity goods, the Merchant Marine corps
  | seek innovative solutions to the most pressing of problems. Ever in pursuit of
  | perfection, for the merchant marine, Paradise is only ten Parsecs away.
h2 The Organizers
p
  .media
    a.pull-left(href='http://robertsspaceindustries.com/citizens/TheGrue')
      img.media-object(src='https://robertsspaceindustries.com/media/is7xszdpvtdo9r/avatar/Panthericon256x256.png')
    a.pull-right
      img#Grue.media-object(style='display: none; padding: 12px 12px 12px', src='/assets/media/green_button.jpg')
    .media-body
      p
        b Grue
      p Founder, Developer, Admin, Host
      p UTC-4/5
p
  a.pull-left(href='http://robertsspaceindustries.com/citizens/dargoth1234')
    img.media-object(src='https://robertsspaceindustries.com/media/xsbb2gunlchx9r/avatar/Royfhead.png')
  a.pull-right
    img#Dargoth.media-object(style='display: none; padding: 12px 12px 12px', src='/assets/media/green_button.jpg')
  .media-body
    p
      b Dargoth
    p Host
    p UTC-5/6
p
  a.pull-left(href='http://robertsspaceindustries.com/citizens/Sir')
    img.media-object(src='https://robertsspaceindustries.com/media/71odid5gz62tir/avatar/Wumpusavatar2.jpg')
  a.pull-right
    img.media-object(id='Sir Wumpus', style='display: none; padding: 12px 12px 12px', src='/assets/media/green_button.jpg')
  .media-body
    p
      b Wumpus
    p Admin, Host
    p UTC-7
p
  a.pull-left(href='http://robertsspaceindustries.com/citizens/FF-Darkhalf')
    img.media-object(src='https://robertsspaceindustries.com/media/f1qp9seg95m8ir/avatar/Logo.jpg')
  a.pull-right
    img#FF-Darkhalf.media-object(style='display: none; padding: 12px 12px 12px', src='/assets/media/green_button.jpg')
  .media-body
    p
      b FF-Darkhalf
    p Host
    p UTC+0/1
p
  a.pull-left(href='http://robertsspaceindustries.com/citizens/gryphon_osiris')
    img.media-object(src='https://robertsspaceindustries.com/media/7byfrca0gwmibr/avatar/Pavatar_95529.jpg')
  a.pull-right
    img.media-object(id='Gryphon Osiris', style='display: none; padding: 12px 12px 12px', src='/assets/media/green_button.jpg')
  .media-body
    p
      b Gryphon Osiris
    p Admin, Host
    p UTC-7/8
p
  a.pull-left(href='http://robertsspaceindustries.com/citizens/Czar')
    img.media-object(src='https://robertsspaceindustries.com/media/dpjfw45wtbg33r/avatar/Photo-32121.jpg')
  a.pull-right
    img#Czar.media-object(style='display: none; padding: 12px 12px 12px', src='/assets/media/green_button.jpg')
  .media-body
    p
      b Czar
    p Admin, Host
    p UTC-7/8
p
  a.pull-left(href='http://robertsspaceindustries.com/citizens/zeroLambda')
    img.media-object(src='https://robertsspaceindustries.com/media/vr8y7hjql8e2er/avatar/Girl1aaa_by_chaosringen-D7aepik-Copy.jpg')
  a.pull-right
    img.media-object(id='Zero Lambda', style='display: none; padding: 12px 12px 12px', src='/assets/media/green_button.jpg')
  .media-body
    p
      b Zero Lambda
    p Host
    p UTC-4/5
p
  a.pull-left(href='http://robertsspaceindustries.com/citizens/MadHarryFlint')
    img.media-object(src='https://robertsspaceindustries.com/media/e7e5m3qfez3mfr/avatar/Vastanerada.jpg')
  a.pull-right
    img.media-object(id='Mad Harry', style='display: none; padding: 12px 12px 12px', src='/assets/media/green_button.jpg')
  .media-body
    p
      b Mad Harry
    p Host
    p UTC+9/10
p
  a.pull-left(href='http://robertsspaceindustries.com/citizens/Monkphin')
    img.media-object(src='https://robertsspaceindustries.com/rsi/static/images/account/avatar_default.jpg')
  a.pull-right
    img#Monkphin.media-object(style='display: none; padding: 12px 12px 12px', src='/assets/media/green_button.jpg')
  .media-body
    p
      b Monkphin
    p Host
    p UTC
p
  a.pull-left(href='https://robertsspaceindustries.com/citizens/Lomelinde')
    img.media-object(src='https://robertsspaceindustries.com/media/ci38og7s69oper/avatar/Avatar1385768358.png')
  a.pull-right
    img#Lomelinde.media-object(style='display: none; padding: 12px 12px 12px', src='/assets/media/green_button.jpg')
  .media-body
    p
      b Lomelinde
    p Host
    p UTC+0/1
p
  a.pull-left(href='http://robertsspaceindustries.com/citizens/theflyingferret')
    img.media-object(src='https://robertsspaceindustries.com/rsi/static/images/account/avatar_default.jpg')
  a.pull-right
    img#FlyingFerret.media-object(style='display: none; padding: 12px 12px 12px', src='/assets/media/green_button.jpg')
  .media-body
    p
      b FlyingFerret
    p Host
    p UTC-4/5
h2 Role Definitions
h4 Hosts
p
  | Hosts are trusted members of the community, helping make sure the events they
  | enjoy run smoothly. They are there to organize games at official events, answer
  | any questions, and moderate any violations of 
  a(href='/rule') the only rule
  | They have moderator powers on both Mumble and IRC.
h4 Admins
p
  | Admins are those people with full adminsitrator rights on the mumble server.
  | Their primary role is to handle assignment of group roles, currently only used
  | to designate members of Starwind and the Brown Coats.
h4 Developers
p
  | Developers are those contributing to the design of this site and other media
  | related to the event. We welcome people to contribute art, interface design, or
  | web programming skills to the cause. Please contact
  a(href='mailto:gruebc@gmail.com') Grue
  |  if you wish to contribute.

