#header
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
.container-narrow
  #content
    |{{outlet}}
  #footer
    .float-img
      a(href='https://robertsspaceindustries.com/orgs/BROWNCOATS')
          img(src='/assets/media/Browncoats_small.png')
    .foot-text
      p
        | &copy; 2944 
        a(href='https://robertsspaceindustries.com/citizens/TheGrue')
          |Gaius Zhen
        | , powered by 
        a(href='http://emberjs.com/', target='_blank', title='EmberJS') EmberJS
        |                 and 
        a(href='http://twitter.github.com/bootstrap/', target='_blank') Bootstrap
      p
        | Brought to you by 
        a(href='https://robertsspaceindustries.com/orgs/BROWNCOATS')
          | The Brown Coats
        |  and 
        a(href='https://robertsspaceindustries.com/orgs/STARWIND') Starwind
      p
        | Thanks to 
        a(href='https://robertsspaceindustries.com/module/arena-commander')
          | Original Systems for an 
        a(href='https://robertsspaceindustries.com/about-the-game') amazing game!
    .float-img
      a(href='https://robertsspaceindustries.com/orgs/STARWIND')
        img(src='/assets/media/Starwind_small.png')

