doctype html
html(lang='en')
  head
    block vars
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(charset='utf-8')
    meta(http-equiv='imagetoolbar', content='no')
    title=title
    link(rel='stylesheet', href='/assets/css/flightnight.css', media='all')
  body
    #container
      block content
