.sub_title
  float: left
  display: block
  padding: 10px 5px 10px

.float-img
  float: left
  width: 120px
  height: 120px

.float-img img
  max-width: 100%

.foot-img
  min-width: 75
  min-height: 75
  max-height: 120
  max-width: 120

.foot-text
  float: left
  width: 460px
  padding: 20px 20px 20px
  text-align: center
  height: 120px

.table.small td
  padding: 0px
  text-align: center
  margin-left: 0

/* Custom container

.container-narrow
  margin: 0 auto
  max-width: 700px
  > hr
    margin: 30px 0

.navbar .nav
  float: right

/* posts index

.post >
  h3.title
    position: relative
    padding-top: 10px
    span.date
      position: absolute
      right: 0
      font-size: 0.9em
  .more
    margin: 10px 0
    text-align: left

/* post-full

.post-full .date
  margin-bottom: 20px
  font-weight: bold

/* tag_box

.tag_box
  list-style: none
  margin: 0
  overflow: hidden
  li
    line-height: 28px
    i
      opacity: 0.9
  &.inline li
    float: left
  a
    padding: 3px 6px
    margin: 2px
    background: #eee
    color: #555
    border-radius: 3px
    text-decoration: none
    border: 1px dashed #ccc
    span
      vertical-align: super
      font-size: 0.8em
    &:hover
      background-color: #e5e5e5
    &.active
      background: #57A957
      border: 1px solid #4C964D
      color: #FFF
