
<h2>The Event</h2>
<p>
  Since December 2942, Flightnight has been the premiere event for pilots to
  test their skills and meet their peers in the risk-free environment of the Arena
  Commander simulation program. Led by a team of volunteers, under the
  organizational support of The Brown Coats and Starwind, we welcome veterans and
  nuggets alike. A variety of weekly events keep those of every time reference
  involved, and we are always looking for new volunteers to expand the event to
  include more times and people.
</p>
<h2>The Sponsors</h2>
<h3><a href="https://robertsspaceindustries.com/orgs/BROWNCOATS">The Brown Coats</a></h3>
<p>
  <div style="padding-right: 10px" class="float-img"><img src="/assets/media/Browncoats_small.png"/></div>
</p>
<p>
  Founded in November 2942, the Brown Coats are a collective of independent
  captains from across all systems and nearly all professional pursuits. The
  Brown Coats believe in good work and good karma. Find a job, do it right, and do
  it without risking innocent lives. The simple motto attracts a varied crowd of
  interesting, skilled people for every line of work. If you need a business
  partner, or just a drinking buddy, you&apos;ll find the one you&apos;re looking for in the
  Brown Coats.
</p>
<h3><a href="https://robertsspaceindustries.com/orgs/STARWIND">Starwind</a></h3>
<p>
  <div style="padding-right: 10px" class="float-img"><img src="/assets/media/Starwind_small.png"/></div>Starwind Unltd. is a league of armed merchantmen with an emphasis on
  combat-readiness in defence of personal assets, walking the thin line between
  combat and mercantilism. Whether exploring new horizons, acquiring unclaimed
  resources, or transporting luxury and commodity goods, the Merchant Marine corps
  seek innovative solutions to the most pressing of problems. Ever in pursuit of
  perfection, for the merchant marine, Paradise is only ten Parsecs away.
</p>
<h2>The Organizers</h2>
<p>
  <div class="media"><a href="http://robertsspaceindustries.com/citizens/TheGrue" class="pull-left"><img src="https://robertsspaceindustries.com/media/is7xszdpvtdo9r/avatar/Panthericon256x256.png" class="media-object"/></a><a class="pull-right"><img id="Grue" style="display: none; padding: 12px 12px 12px" src="/assets/media/green_button.jpg" class="media-object"/></a>
    <div class="media-body">
      <p><b>Grue</b></p>
      <p>Founder, Developer, Admin, Host</p>
      <p>UTC-4/5</p>
    </div>
  </div>
</p>
<p><a href="http://robertsspaceindustries.com/citizens/dargoth1234" class="pull-left"><img src="https://robertsspaceindustries.com/media/xsbb2gunlchx9r/avatar/Royfhead.png" class="media-object"/></a><a class="pull-right"><img id="Dargoth" style="display: none; padding: 12px 12px 12px" src="/assets/media/green_button.jpg" class="media-object"/></a>
  <div class="media-body">
    <p><b>Dargoth</b></p>
    <p>Host</p>
    <p>UTC-5/6</p>
  </div>
</p>
<p><a href="http://robertsspaceindustries.com/citizens/Sir" class="pull-left"><img src="https://robertsspaceindustries.com/media/71odid5gz62tir/avatar/Wumpusavatar2.jpg" class="media-object"/></a><a class="pull-right"><img id="Sir Wumpus" style="display: none; padding: 12px 12px 12px" src="/assets/media/green_button.jpg" class="media-object"/></a>
  <div class="media-body">
    <p><b>Wumpus</b></p>
    <p>Admin, Host</p>
    <p>UTC-7</p>
  </div>
</p>
<p><a href="http://robertsspaceindustries.com/citizens/FF-Darkhalf" class="pull-left"><img src="https://robertsspaceindustries.com/media/f1qp9seg95m8ir/avatar/Logo.jpg" class="media-object"/></a><a class="pull-right"><img id="FF-Darkhalf" style="display: none; padding: 12px 12px 12px" src="/assets/media/green_button.jpg" class="media-object"/></a>
  <div class="media-body">
    <p><b>FF-Darkhalf</b></p>
    <p>Host</p>
    <p>UTC+0/1</p>
  </div>
</p>
<p><a href="http://robertsspaceindustries.com/citizens/gryphon_osiris" class="pull-left"><img src="https://robertsspaceindustries.com/media/7byfrca0gwmibr/avatar/Pavatar_95529.jpg" class="media-object"/></a><a class="pull-right"><img id="Gryphon Osiris" style="display: none; padding: 12px 12px 12px" src="/assets/media/green_button.jpg" class="media-object"/></a>
  <div class="media-body">
    <p><b>Gryphon Osiris</b></p>
    <p>Admin, Host</p>
    <p>UTC-7/8</p>
  </div>
</p>
<p><a href="http://robertsspaceindustries.com/citizens/Czar" class="pull-left"><img src="https://robertsspaceindustries.com/media/dpjfw45wtbg33r/avatar/Photo-32121.jpg" class="media-object"/></a><a class="pull-right"><img id="Czar" style="display: none; padding: 12px 12px 12px" src="/assets/media/green_button.jpg" class="media-object"/></a>
  <div class="media-body">
    <p><b>Czar</b></p>
    <p>Admin, Host</p>
    <p>UTC-7/8</p>
  </div>
</p>
<p><a href="http://robertsspaceindustries.com/citizens/zeroLambda" class="pull-left"><img src="https://robertsspaceindustries.com/media/vr8y7hjql8e2er/avatar/Girl1aaa_by_chaosringen-D7aepik-Copy.jpg" class="media-object"/></a><a class="pull-right"><img id="Zero Lambda" style="display: none; padding: 12px 12px 12px" src="/assets/media/green_button.jpg" class="media-object"/></a>
  <div class="media-body">
    <p><b>Zero Lambda</b></p>
    <p>Host</p>
    <p>UTC-4/5</p>
  </div>
</p>
<p><a href="http://robertsspaceindustries.com/citizens/MadHarryFlint" class="pull-left"><img src="https://robertsspaceindustries.com/media/e7e5m3qfez3mfr/avatar/Vastanerada.jpg" class="media-object"/></a><a class="pull-right"><img id="Mad Harry" style="display: none; padding: 12px 12px 12px" src="/assets/media/green_button.jpg" class="media-object"/></a>
  <div class="media-body">
    <p><b>Mad Harry</b></p>
    <p>Host</p>
    <p>UTC+9/10</p>
  </div>
</p>
<p><a href="http://robertsspaceindustries.com/citizens/Monkphin" class="pull-left"><img src="https://robertsspaceindustries.com/rsi/static/images/account/avatar_default.jpg" class="media-object"/></a><a class="pull-right"><img id="Monkphin" style="display: none; padding: 12px 12px 12px" src="/assets/media/green_button.jpg" class="media-object"/></a>
  <div class="media-body">
    <p><b>Monkphin</b></p>
    <p>Host</p>
    <p>UTC</p>
  </div>
</p>
<p><a href="https://robertsspaceindustries.com/citizens/Lomelinde" class="pull-left"><img src="https://robertsspaceindustries.com/media/ci38og7s69oper/avatar/Avatar1385768358.png" class="media-object"/></a><a class="pull-right"><img id="Lomelinde" style="display: none; padding: 12px 12px 12px" src="/assets/media/green_button.jpg" class="media-object"/></a>
  <div class="media-body">
    <p><b>Lomelinde</b></p>
    <p>Host</p>
    <p>UTC+0/1</p>
  </div>
</p>
<p><a href="http://robertsspaceindustries.com/citizens/theflyingferret" class="pull-left"><img src="https://robertsspaceindustries.com/rsi/static/images/account/avatar_default.jpg" class="media-object"/></a><a class="pull-right"><img id="FlyingFerret" style="display: none; padding: 12px 12px 12px" src="/assets/media/green_button.jpg" class="media-object"/></a>
  <div class="media-body">
    <p><b>FlyingFerret</b></p>
    <p>Host</p>
    <p>UTC-4/5</p>
  </div>
</p>
<h2>Role Definitions</h2>
<h4>Hosts</h4>
<p>
  Hosts are trusted members of the community, helping make sure the events they
  enjoy run smoothly. They are there to organize games at official events, answer
  any questions, and moderate any violations of <a href="/rule">the only rule</a>They have moderator powers on both Mumble and IRC.
</p>
<h4>Admins</h4>
<p>
  Admins are those people with full adminsitrator rights on the mumble server.
  Their primary role is to handle assignment of group roles, currently only used
  to designate members of Starwind and the Brown Coats.
</p>
<h4>Developers</h4>
<p>
  Developers are those contributing to the design of this site and other media
  related to the event. We welcome people to contribute art, interface design, or
  web programming skills to the cause. Please contact<a href="mailto:gruebc@gmail.com">Grue</a> if you wish to contribute.
</p>