
<div id="header">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</div>
<div class="container-narrow">
  <div id="content">{{outlet}}</div>
  <div id="footer">
    <div class="float-img"><a href="https://robertsspaceindustries.com/orgs/BROWNCOATS"><img src="/assets/media/Browncoats_small.png"/></a></div>
    <div class="foot-text">
      <p>&copy; 2944 <a href="https://robertsspaceindustries.com/citizens/TheGrue">Gaius Zhen</a>, powered by <a href="http://emberjs.com/" target="_blank" title="EmberJS">EmberJS</a>                and <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a></p>
      <p>Brought to you by <a href="https://robertsspaceindustries.com/orgs/BROWNCOATS">The Brown Coats</a> and <a href="https://robertsspaceindustries.com/orgs/STARWIND">Starwind</a></p>
      <p>Thanks to <a href="https://robertsspaceindustries.com/module/arena-commander">Original Systems for an </a><a href="https://robertsspaceindustries.com/about-the-game">amazing game!</a></p>
    </div>
    <div class="float-img"><a href="https://robertsspaceindustries.com/orgs/STARWIND"><img src="/assets/media/Starwind_small.png"/></a></div>
  </div>
</div>